<ol class="post-list">
  {{!-- #each will loop through the array of dbPostData objects and dynamically make all of them --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{!-- /each defines where the loop ends --}}
  {{/each}}
</ol>